<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <p><%= link_to 'Sign up now', "#", class: "btn btn-primary btn-lg" %></p>
</div>

<div class="home_containers"></div>
<div class="home_containers"></div>
<div class="home_containers"></div>
<div class="home_containers"></div>