<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="#">Yo! Read this (shit)</a>
			by <a href="#">Raw Code</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to 'About', about_path %></li>
			</ul>
		</nav>
	</footer>
</div>